body {
	/*background-image: url(../images/bg.jpeg);*/
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	/*background-image: url(../images/pattern.png);*/
	background-color: #0070C9;
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
	background-color: #222428;
	color: #c9c3bb;
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h1:hover {
	background-color: none;	
}

h2 {
	text-transform: uppercase;
	letter-spacing: 11px;
	color: #c9c3bb;
}

h2:hover {
	color: #897f72;
}

#me {
	height: 200px;
	width: 250px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: #897f72;
	color: #c9c3bb;
	margin-top: 50px;
	filter: alpha(opacity=50)
}

#me:hover {
	border-color: #c9c3bb;
}



.about	{
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
	background-color: #222428;
	opacity: 0.7;
	font-family: 'MedievalSharp', cursive;
}

.container	{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}